:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;


  --btn-bord: rgba(0, 0, 0, 0.15);
  --team-shadow: rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  --btn-color: var(--color-cornflower);

}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--color-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding: 120px 0;
}
/* reset end */
.container {
  /* width: 1158px;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  /* padding-left: 15px;
  padding-right: 15px; */

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


/* Header */
.logo {
  margin-right: 76px;
  display: inline-block;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.dark-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}
.light-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}
.container-header {
  /* display: flex;
  padding: 24px 0px;
  align-items: center; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 76px;
  }
}


.header {
  padding-top: 24px;
  padding-bottom: 22px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid var(--color-cornflower);
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}


.menu {
  display: none;
 
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
  }
}


.menu-link {
  position: relative;
  display: block; 
  padding: 24px 0;

  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.menu-link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  
}

.menu-link.current::after {
  background-color: var(--secondary-accent-color);
}
.menu-link.current {
  color: var(--secondary-accent-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-accent-color);
}



  /* .menu-link:hover::after,
.menu-link:focus::after {
  color: var(--color-ocean);

}  

.menu-link.current {
  color: var(--color-ocean);
} */
/* .current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
border-radius: 2px;
} */

.menu-link:hover, .menu-link:focus {
    color: var(--color-ocean);
}

.menu-link.current::after,
.menu-link:hover::after,
.menu-link:focus::after {
  background-color: var(--color-ocean);
  color: var(--color-ocean);
}



.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
    font-style: normal;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    gap: 40px;
  }
}

.contact-item {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-slate);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contact-item {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contact-item:hover,
.contact-item:focus {
  color: var(--color-ocean);
}

/* mobile menu */
.menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 22px;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover,
.menu-button:focus {
  background-color: rgba(0, 0, 0, 0.1);
}


.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  background-color: var(--color-white);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: 1px solid var(--color-cornflower);
  border-radius: 50%;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.mobile-menu-icon {
  fill: var(--color-navy-blue);
}

.mobile-menu-link {
  display: block;

  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--color-ocean);
}

.mobile-menu-link.current {
  color: var(--color-ocean);
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-contact-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contact-phone {
  display: block;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-iris);
}

@media screen and (max-width: 320px) {
  .mobile-contact-phone {
    font-size: 26px;
  }
}

.mobile-contact-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.mobile-contact-info {
  margin-bottom: 48px;
}

.mobile-socials-list {
  display: flex;
  gap: 56px;
}

@media screen and (max-width: 427px) {
  .mobile-socials-list {
    gap: 25px;
  }
}

.mobile-socials-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.mobile-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--color-iris);
  color: var(--color-cloud);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-socials-link:hover,
.mobile-socials-link:focus {
  background-color: var(--color-ocean);
}


@media screen and (max-width: 767px){
.mobile-socials-icon {
  fill: var(--color-cloud)
}
}

/* main */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 428px) {
  .hero {
    background-color: var(--hero-bgc);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dark-bgmobile.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bgmobile@2x.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bgmobile@3x.jpg);
    }
  }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
  .hero {
    background-color: var(--hero-bgc);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dark-bgtablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bgtablet@2x.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bgtablet@3x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-color: var(--hero-bgc);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dark-bgmobile-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bgdesktop@2x.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bgdesktop@3x.jpg);
    }
  }

  @media screen and (min-width: 1158px) {
    .hero {
      padding-top: 188px;
      padding-bottom: 188px;
    }
  }
}


.hero-section-title {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .hero-section-title {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  margin: auto;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
  border: none;
  
  background: var(--color-iris);
  color: var(--color-white);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--btn-bord);

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--color-ocean);
  color: var(--color-white);
  cursor: pointer;

}

.hero-form-button{
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  font-family: inherit;
  background-color: var(--color-iris);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form-button:hover,
.hero-form-button:focus {
  background: var(--color-ocean);
  color: var(--color-white);
  cursor: pointer;

}

/*  features  */


@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 72px) / 4);
  }
}

.icon-container {
  margin-bottom: 8px;
  background: #f4f4fd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
}

@media screen and (max-width: 1199px) {
  .icon-container {
    display: none;
  }
}

.features-icon {
  padding: 24px 100px;
}
.feature-title {
  line-height: 1.2;
}

.features-item 
.features-subtitle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  
  text-align: center;

  color: var(--color-navy-blue);

  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .features-item .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-item .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1199px) {
  .features-item .features-description {
    font-weight: 500;
  }
}
.features-description {
  line-height: 1.5;
  color: var(--color-slate);
}

/* What are we going */

@media screen and (max-width: 1199px) {
  .whatwedo-section {
    display: none;
  }
}

.whatwedo-section {
  padding-top: 0;
}
.whatwedo-title {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);

  margin-bottom: 72px;
}
.whatwedo-list {
  display: flex;
  gap: 24px;
}
.whatwedo-item {
  padding: 0px;
  width: calc((100% - 48px) / 3);
}

/* team */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-container {
    width: 552px;
  }
}
.team-section {
  padding-bottom: 96px;
  padding-top: 96px;
  background-color: var(--color-cloud);
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .team-list {
    column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    gap: 24px;
  }
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.team-item {
  width: calc(100% - ((32 * 2) / 4));
  background-color: var(--color-white) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 6px var(--team-shadow);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-name-container {
 
  gap: 8px;
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  text-align: center;
  margin-bottom: 8px;
}
.team-position {
  line-height: 1.5;
  color: var(--color-slate);
  text-align: center;
}
.footer-social-list {
  display: flex;
  gap: 24px;
  max-height: 40px;
  justify-content: center;
  background-position: center;
  margin-top: 8px;
}


.peage-footer-social-list-link-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.peage-footer-social-list-link-team:focus,
.peage-footer-social-list-link-team:hover {
  background-color: var(--color-ocean);
}
.footer-social-lista {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

/* customers */
.title-customers {
  text-align: center;
  margin: 0 0 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-container {
    width: 552px;
  }
}

.clients {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .clients-list {
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    gap: 24px;
  }
}

.clients-item {
  display: flex;
  width: calc((100% - 16px) / 2);
  height: 88px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 120px) / 6);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: var(--color-light-slate);
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean);
}

.clients-icon {
  fill: currentColor;
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 62px;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    width: 552px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    align-items: baseline;
    flex-direction: row;
    /* gap: 0; */
  }
}
.logo-footer {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .logo-footer {
    display: block;
    text-align: center;
    margin-bottom: 16px;
  }
}

.page-footer {
  padding: 100px 0;
  background: var(--color-navy-blue);
}

@media screen and (min-width: 1200px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  color: var(--color-cloud);
  margin-left: auto;
  margin-right: auto;

}

@media screen and (min-width: 768px) {
  .footer-description {
    width: 264px;
    margin: 0;
  }
}

.link-footer {
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .footer-description {
    margin-right: 80px;
  }
}

.peage-footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .peage-footer-social-text {
    text-align: left;
  }
}

.peage-footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.peage-footer-social-list-item {
  display: flex;
  width: 40px;
  height: 40px;
}
.peage-footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  color: var(--color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.peage-footer-social-list-icon {
  fill: #f4f4fd;
  
}
.peage-footer-social-list-link:focus,
.peage-footer-social-list-link:hover {
  background-color: var(--color-green);
}
  
/* .footer-form {
  position: relative;
  display: flex;
  gap: 24px;
} */

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  color: #ffffff;
  background: none;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
    margin: 0 24px 0 0;
  }
}

.footer-input:focus {
  outline: none;
  border-color: var(--color-iris);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.submit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  gap: 16px;
  width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #FFFFFF;
  background: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.submit-btn:hover,
.submit-btn:focus{
  background: var(--color-ocean);
  color: var(--color-white);
  cursor: pointer;
}

/* portfolio */
.row-section {
  padding: 96px 0 120px;
}

.row-title {
  line-height: 1.5;
}

.card {
  width: calc((100% - 48px) / 3);
  background: var(--color-white);
}
.btn-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-btn {
 
 padding: 16px 32px;
 border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #4d5ae5;
  background: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {    
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--color-white);
    background: var(--color-ocean);
}

.card-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.card-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-box{
  position: relative;
  overflow: hidden;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0;
  background-color: var(--color-iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-label{
  color: var(--color-cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
 letter-spacing: 0.02em;
}

.card-link:hover .overlay,
.card-link:focus .overlay  {
  transform: translateY(0);

}

.container-card {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}
.card-link {
  display: block;
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-subtitle {
  margin-bottom: 8px;
}

/* Modal window */

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  width: 392px;
  height: 586px;
  padding: 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 391px) {
  .modal {
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .modal {
    max-height: 90vh;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 24px 24px 24px 24px;
  }
}

.is-hidden{
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  /* opacity: 1; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal > button:hover, .modal > button:focus {
  color: var(--color-white);
  background-color: #404bbf;
  fill: var(--color-white);
}
 
.title-modal{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  
  margin-bottom: 16px;
  
  color: var(--color-navy-blue);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 color: var(--color-light-slate);
}
.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline-color: var(--color-iris);
  }

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-iris);
}

.modal-form-message {
  margin-bottom: 20px;

  display: block;
  width: 100%;
  min-height: 120px;
  max-height: 180px;
  padding: 10px;

  font-size: 12px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  resize: none;
}
.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-message:focus {
  outline-color: var(--color-iris);
}



.checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.visually-hidden {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-silver);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: var(--color-white);
  cursor: pointer;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-origin: border-box;
  fill: var(--color-white);
  transition: background-color 250ms linear, border 250ms linear;
}
.visually-hidden:checked + .icon {
  background-color: var(--color-ocean);
  border: 1px solid var(--color-ocean);}


.modal-form-agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  margin-right: 4px;
}
.modal-form-agreement-link {
  color: var(--color-iris);
}
/* .modal-btn {
  display: block;
  margin: 0 auto;
} */


